*
{ 
	margin: 0; pading: 0;
}

body
{
	background: #e0e0e0;
	font: 14px arial, helvetica, sans-serif;
	color: #444444;
	text-align: left;
}

.container
{
	width:960px;
	margin: 20px auto 20px;
	text-align: left;
	padding: 10px;
	background: #fff;
	border: 5px solid #cfcfcf;
	border-radius: 10px;
}

.header,
.footer
{
	width: 100%;
	height: 35px;
	background-color: #eee;
	overflow: auto;
}

.header
{
	border-radius: 5px 5px 0 0;
}

.header a
{
	color:#000;
	font-weight:bold;
	text-decoration: none;

}

.header a:hover
{
	text-decoration: underline;
}

.footer
{
	border-radius: 0px 0px 5px 5px;
}

.menu .item,
.footer .item
{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 10px;
}

.menu .item.last
{
	float:right;
	padding-right: 0px;
}

.content
{
	border-left: 5px solid #eee;
	border-right: 5px solid #eee;
	padding: 20px;
}

// Extras
.small
{
	font-size: 10px;
}

.highlight
{
	background-color: #a1ff00;
	color: #fff;
	font-weight: bold;
}

.formcontainer div
{
	width:640px;
	clear:both;
	padding:5px;
}

.formcontainer label:first-of-type
{
	width: 150px;
	float:left;
}

.formcontainer label.error
{
	color: #FF0000;
}

.message-box
{
	padding: 10px
}
.success
{
	border: 1px solid green;
	background-color: #f3ffdf;
}
.error 
{
	border: 1px solid red;
	background-color: #ffe3e3;
}